/* Style Bagian Header  */
.container-header{
    margin-top: 5px;
    height: 550px;
}
.container-berita{
    background-color: #FF5722;
    height: 48%;
    display: flex;
}
.container-berita .berita-text{
    width: 30%;
    height: 100%;
    margin: 33px 100px;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container-berita .berita-conten{
    width: 50%;
    background-color: white;
    height: 200px;
    margin:25px 20px;
    border-radius: 5px;
}
.berita-conten .conten-gambar{
    width:97%;
    height: 70%;
    border-radius: 5px;
    margin:10px 10px;
    background-size: cover;
}
.berita-conten .conten-isi{
    width: 100%;
    height: 20%;
    border-radius: 5px;
}
.conten-isi .isi{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
} 
.isi p {
    margin:12px 8px;
    background-color: #FF5722;
    width: 78px;
    line-height: 30px;
    border-radius: 6px;
    color:white;
    font-size: 13px;
    text-align: center;
 } 
.trending{
font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#FF5722;
    margin: 10px 20px;
}
.container-trending{
    height: 35%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 20px 20px 0 rgb(245, 231, 206);
}
.trending-berita{
    margin:5px auto;
    width: 22%;
    height: 80%;
    font-size: 18px;
    color: #f5f5f5;
    background-size: cover;
    box-shadow: 0 7px 20px 0 #9c9b99;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
} 
.trending-berita .text{
   text-align:initial;
   margin: 100px 15px;
}


.content-container {
    min-height: 700px;
    margin: 40px 0;
    padding: 0 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.content-container .card {
    height: 100%;
}
.card {
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
    
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2);
}
.card > img {
    object-fit: fill;
    height: 200px;
    width: 100%;
}
.card > .card-body {
    padding: 20px;
}

.card h3 {
    font-size: 22px;
    margin: 0 0 0 0;
}
.card h5 {
    font-size: 9px;
    text-transform: uppercase;
    color: #FF5722; }
.card p {
    color: rgb(167, 162, 162);
    font-size: 15px;
}
.card > .card-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.card-footer a {
    color:rgb(167, 162, 162);
    display: inline-block;
    font-size: 13px;

}
.font-weight-bold {
    font-weight: bold;
}
